{
    "htmlWhitespaceSensitivity": "ignore",
    "plugins": [
        "prettier-plugin-blade",
        "prettier-plugin-organize-attributes",
        "prettier-plugin-tailwindcss"
    ],
    "printWidth": 140,
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade"
            }
        }
    ],
    "singleAttributePerLine": true,
    "singleQuote": true,
    "attributeGroups": [
        "$CODE_GUIDE"
    ]
}
